*.iml
.gradle
/local.properties
/.idea*
/gradlew
/gradlew.bat
.DS_Store
/build
/captures
.externalNativeBuild
/app/app.plantuml
/app/src/androidTest/java/ru/geekbrains/psy_journal/psy_journal.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/data/database/dao/dao.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/data/database/database.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/data/files/files.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/data/repositories/repositories.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/di/di.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/domain/file/file.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/presentation/presenter/activity/activity.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/presentation/presenter/view_ui/view_ui.plantuml
/app/src/base/java/ru/geekbrains/psy_journal/presentation/view/activities/activities.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/dialogs/dialogs.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/fragments/fragments.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/presenter.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/view_ui/dialogs/dialogs.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/view_ui/dialogs/viewholders/viewholders.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/view_ui/fragments/fragments.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/presenter/view_ui/fragments/viewholders/viewholders.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/activities/activities.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/activities/adapters/adapters.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/dialogs/adapters/adapters.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/dialogs/dialogs.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/fragment/adapters/adapters.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/fragment/fragment.plantuml
/app/src/main/java/ru/geekbrains/psy_journal/presentation/view/utilities/utilities.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/data/database/dao/dao.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/data/database/database.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/data/files/files.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/data/repositories/repositories.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/di/di.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/domain/file/file.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/presentation/presenter/activity/activity.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/presentation/presenter/dialogs/dialogs.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/presentation/presenter/view_ui/activity/activity.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/presentation/view/activities/activities.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/presentation/view/dialogs/adapters/adapters.plantuml
/app/src/pro/java/ru.geekbrains.psy_journal/presentation/view/dialogs/dialogs.plantuml
/app/src/test/java/ru/geekbrains/psy_journal/psy_journal.plantuml
